/* ////////////////////////// Animating elements Starts \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Animation with cross broswer compatibility :) */

/* ========== flickering animation =============== */
@-webkit-keyframes flickering {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-moz-keyframes flickering {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}


@-o-keyframes flickering {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes flickering {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}



/* ========== Fade-in animation =============== */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    
    60% {
        opacity: .7;
    }
    
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    
    60% {
        opacity: .7;
    }
    
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    
    60% {
        opacity: .7;
    }
    
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    
    60% {
        opacity: .7;
    }
    
    100% {
        opacity: 1;
        visibility: visible;
    }
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Animating elements ENDS //////////////////////////  */


          /* :::::::::::::::::::::::::: END OF CSS ::::::::::::::::::::::::::: */